* {
  box-sizing: border-box;
}

body {
  background-color: #734b6d;
  /*background-color: #564e5d;*/
  /*background-color: #42275a;*/
  /*background-color: #333333;*/
  /*background-color: gray;*/
  min-width: 900px;
  padding-left: 1em;
  padding-right: 1em;
}

header {
  text-align: center;
}

.masthead {
  /*outline: green 3px solid;*/
  outline: #abbaab 3px solid;
}

.masthead-intro {
  color:  white;
  text-align: center;
  /*text-shadow: 0px 3px 0px #fff;*/
  padding: 1em 0;
  padding: 1em 0;
  border-top: 1em green;
}

#input {
  text-align: center;
  padding: 0 0 25px 0;
  /*outline: green 2px solid;*/
  border-top: 1px solid #abbaab;
  border-bottom: 1px solid #abbaab;
  /*background-color: #666666;*/
  /*background-color: #734b6d;*/
  background-color: #564e5d;
}

.input-item {
  color: black;
}


/*.customer_input {
  width: 400px;
  background-color: #333333;
  border-radius: 5px;
  border: 3px solid green;
  padding: 10px 10px;
}*/

.btn {
  background-color: green;
  border: 1px solid #27ecc71;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

.list-container {
  color: #fff;
  text-align: center;
}

.list {
  list-style-type: none;
}

.add_item {
  text-align: center;
}

.button {
  color: green;
  background-color: white;
  border: 1px solid green;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}

/*.remove {
  color: green;
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer;
}
}

.shopping_item {
  width: 400px;
  background-color: #333333;
  border-radius: 5px;
  border: 3px solid white;
  padding: 10px 10px;
}*/

h2 {
    font-family:arial;
}

h3 {
  color: white;
  text-align: center;*/
}

h5 {
  color: white;
  text-align: center;*/
}

form {
    display: inline-block;
}

.item {
  color: white;
}

#button {
    display: inline-block;
    height:20px;
    width:70px;
    /*background-color:#cc0000;*/
    background-color: #360033;
    font-family:arial;
    font-weight:bold;
    color:#ffffff;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;*/
    cursor: pointer;
}

/*.quantity {
    display: inline-block;
    height:20px;
    width:70px;
    font-family:arial;
    font-weight:bold;
    color:#000000;
    text-align:center;
    margin-top:2px;
    color: black;
}*/

.completed {
    text-decoration: line-through;
}

/*.main {
  margin-top: 2em;
}

.list {
    margin: auto;
    font-family:garamond;
    color:#000000;
}

.list ul{
  height: 50em;
  background-color: darkseagreen;
  margin: auto;
  padding-top: 1em;
  width: 20em;
}*/
